:root {
  --color-grey-dark: #303030;
  --color-green-dark: #008966;
  --color-green: #00bc8c;
  --color-green-light: #20c997;
  --color-grey-light: #555;
  --color-white: #fff;
}

body {
  background-color: #222;
  font-weight: 400;
  color: var(--color-white);
  line-height: 1.5;
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 18px;
}

.app-wrapper {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  height: 100px;
  width: 200px;
}

.header__score {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90px;
  font-weight: 600;
  font-size: 20px;
}

.header__score--text {

}

.header__score--value {

}

.progress-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

.progress-bar__element {
  background-color: var(--color-green-dark);
  flex: auto;
  text-align: center;
  padding: 10px 0;
}

.progress-bar__element--active {
  background-color: var(--color-green);
}

.progress-bar__element:first-child {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.progress-bar__element:last-child {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.current-question-block {
  background-color: var(--color-grey-dark);
  display: flex;
  flex-direction: row;
  padding: 1rem;
  margin-bottom: 2rem;
}

.current-question-block__logo {
  height: 10rem;
  border-radius: 10px;
  margin-right: 30px;
}

.current-question-block__control-panel {
  display: flex;
  flex-direction: column;
  width: calc(100% - 240px);
}

.current-question-block__bird-name {
  font-weight: 600;
  font-size: 32px;
  border-bottom: 1px solid var(--color-grey-light);
}

.current-question-block__controls {

}

.choices-and-answer-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.choices-list {
  border: 1px solid var(--color-grey-light);
  border-radius: 5px;
  flex-grow: 1;
}

.choices-list__element {

}

.answer-block {
  flex-grow: 1;
}

.answer-block__row {

}

.answer-block__logo {

}

.answer-block__information {

}

.answer-block__information--name {

}

.answer-block__information--latin-name {

}

.answer-block__information--audio {

}

.answer-block__description {

}

.btn-next {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid var(--color-grey-light);
  background-color: var(--color-grey-dark);
  color: var(--color-white);
  padding: 10px;
  cursor: auto;
  font-size: 18px;
  outline: none;
}

.btn-next--active {
  background-color: var(--color-green);
  cursor: pointer;
  transition: all .2s;
}

.btn-next--active:hover {
  background-color: var(--color-green-light);
}


@media (max-width: 600px) {
  .app-wrapper {
    padding: 0 5px;
  }
  .current-question-block {
    flex-direction: column;
  }
  .current-question-block__logo {
    height: 155px;
    width: 200px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .current-question-block__control-panel {
    width: 100%;
  }
  .current-question-block__bird-name {
    text-align: center;
  }
  .choices-and-answer-wrapper {
    flex-direction: column;
  }
}
